@import '../../styles/index.scss';

.navSearch {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 2rem auto;

  justify-content: center;

  .searchCategories {
    background-color: #f9f9f9;
    border: 1px solid #d1d1d1;
    border-radius: 2rem;
  }
}
